name: Format Create Stencil CLI (Check)

on:
  workflow_call:
    # Make this a reusable workflow, no value needed
    # https://docs.github.com/en/actions/using-workflows/reusing-workflows

jobs:
  format:
    name: Check Formatting
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Get Core Dependencies
        uses: stenciljs/.github/actions/get-core-dependencies@main

      - name: Prettier Check
        run: npm run prettier.dry-run
        shell: bash

