name: Format Create Stencil CLI (Check)

on:
  workflow_call:
    # Make this a reusable workflow, no value needed
    # https://docs.github.com/en/actions/using-workflows/reusing-workflows

jobs:
  format:
    name: Check Formatting
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Get Core Dependencies
        uses: stenciljs/.github/actions/get-core-dependencies@main

      - name: Prettier Check
        run: npm run prettier.dry-run
        shell: bash

